Repository simonnepomuk/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json,yml}": "prettier --write",
  "*.{js,jsx,ts,tsx,json}": "eslint"
}

test: dont build project in playwright.config.ts command
  apps/test-app/playwright.config.ts
Due: prettier --write, eslint

ci: install playwright
  .github/workflows/main.yml
Due: prettier --write

ci: fix playwright config
  apps/test-app/playwright.config.ts
Due: prettier --write, eslint

ci: add firebase cli dev dep
  apps/test-app/package-lock.json
  apps/test-app/package.json
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: fix deps
  apps/test-app/package.json
  package-lock.json
Due: prettier --write, eslint

ci: fix playwright browser install
  .github/workflows/main.yml
Due: prettier --write

ci: add firebase token
  .github/workflows/main.yml
Due: prettier --write

ci: fix playwright install
  .github/workflows/main.yml
Due: prettier --write

ci: increase e2e test timeout
  apps/test-app/playwright.config.ts
Due: prettier --write, eslint

ci: use common nx base and head
  .github/workflows/main.yml
Due: prettier --write

test: wait for load in e2e
  apps/test-app/tests/form.test.ts
Due: prettier --write, eslint

ci: specify github release target branch
  libs/sveltekit-adapter-firebase/project.json
Due: prettier --write, eslint

ci: fix coverage workflow
  .github/workflows/coverage.yml
Due: prettier --write

docs: remove runtime option from monorepo example
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

ci: fix dep structure of targets for test-app
  apps/test-app/project.json
Due: prettier --write, eslint

test: use test.slow() for flaky e2e
  apps/test-app/tests/form.test.ts
Due: prettier --write, eslint

test: use networkidle state timeout for e2e
  apps/test-app/tests/form.test.ts
Due: prettier --write, eslint

ci: cache playwright dependencies
  .github/workflows/coverage.yml
  .github/workflows/main.yml
Due: prettier --write

ci: increase playwright webserver timeout
  .github/workflows/coverage.yml
  .github/workflows/main.yml
  apps/test-app/playwright.config.ts
Due: prettier --write, eslint

ci: fix playwright version output
  .github/workflows/coverage.yml
  .github/workflows/main.yml
Due: prettier --write

refactor: refactored function file generation
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

docs: add monorepo documentation
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

chore: add shields
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

docs: fix formatting
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

fix: v1 default options
  libs/sveltekit-adapter-firebase/src/lib/adapter.test.ts
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

test: add login functionality to test-app
  apps/test-app/env.d.ts
  apps/test-app/package-lock.json
  apps/test-app/package.json
  apps/test-app/project.json
  apps/test-app/src/app.d.ts
  apps/test-app/src/hooks.server.ts
  apps/test-app/src/lib/client/firebase/client.ts
  apps/test-app/src/lib/client/localStorage/magicEmail.ts
  apps/test-app/src/lib/constants.ts
  apps/test-app/src/lib/server/firebase.ts
  apps/test-app/src/lib/types/user.ts
  apps/test-app/src/routes/+layout.server.ts
  apps/test-app/src/routes/+layout.svelte
  apps/test-app/src/routes/Header.svelte
  apps/test-app/src/routes/auth/confirm/+page.svelte
  apps/test-app/src/routes/auth/session/+server.ts
  apps/test-app/src/routes/login/+page.svelte
  apps/test-app/src/routes/profile/+page.svelte
  apps/test-app/svelte.config.js
  apps/test-app/vite.config.ts
  firebase.json
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: fix formatting
  apps/test-app/env.d.ts
  apps/test-app/src/hooks.server.ts
  apps/test-app/src/lib/client/firebase/client.ts
  apps/test-app/src/lib/client/localStorage/magicEmail.ts
  apps/test-app/src/lib/constants.ts
  apps/test-app/src/routes/+layout.server.ts
  apps/test-app/src/routes/+layout.svelte
  apps/test-app/src/routes/auth/confirm/+page.svelte
  apps/test-app/src/routes/auth/session/+server.ts
  apps/test-app/src/routes/login/+page.svelte
  apps/test-app/src/routes/profile/+page.svelte
  apps/test-app/vite.config.ts
Due: prettier --write, eslint

chore: fix pre commit hook
  .husky/pre-commit
Due: none

docs: update README.md
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write, eslint

chore: fix formatting and pre-commit hook
  .husky/pre-commit
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

docs: update repo readme
  README.md
Due: prettier --write

ci: add env variables
  .github/workflows/main.yml
Due: prettier --write

ci: fix firebase.json
  firebase.json
Due: prettier --write, eslint

fix(sveltekit-adapter-firebase): include tslib in peer dependency
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint
