Repository simonnepomuk/monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: add jest.preset.cjs
  jest.preset.cjs
Due: none

doc: fix readme
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

fix: adapter defaults
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

chore: update firebase adapter version
  libs/sveltekit-adapter-firebase/package.json
Due: prettier --write, eslint

fix: default options for firebase adapter
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

chore: set up git hooks for commits and linting
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  README.md
  commitlint.config.cjs
  libs/sveltekit-adapter-firebase/README.md
  libs/sveltekit-adapter-firebase/index.ts
  libs/sveltekit-adapter-firebase/package.json
  libs/sveltekit-adapter-firebase/project.json
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
  libs/vite/package.json
  libs/vite/project.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint

ci: set up automatic versioning, releasing and publishing
  .github/workflows/main.yml
  libs/sveltekit-adapter-firebase/project.json
  libs/vite/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint

ci: fix commands
  .github/workflows/main.yml
Due: prettier --write

docs: fix typo in readme
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

docs: fix typo in readme
  .github/workflows/main.yml
  libs/sveltekit-adapter-firebase/README.md
Due: prettier --write

ci: login to npm registry
  .github/workflows/main.yml
Due: prettier --write

chore: remove vite package
  angular.json
  libs/vite/.eslintrc.json
  libs/vite/README.md
  libs/vite/executors.json
  libs/vite/jest.config.ts
  libs/vite/package.json
  libs/vite/project.json
  libs/vite/src/executors/build/executor.ts
  libs/vite/src/executors/build/lib/create-package-json.ts
  libs/vite/src/executors/build/schema.d.ts
  libs/vite/src/executors/build/schema.json
  libs/vite/src/executors/preview/executor.ts
  libs/vite/src/executors/preview/schema.d.ts
  libs/vite/src/executors/preview/schema.json
  libs/vite/src/executors/serve/executor.ts
  libs/vite/src/executors/serve/schema.d.ts
  libs/vite/src/executors/serve/schema.json
  libs/vite/src/index.ts
  libs/vite/tsconfig.json
  libs/vite/tsconfig.lib.json
  libs/vite/tsconfig.spec.json
  tsconfig.base.json
Due: prettier --write, eslint

feat: add firebase platform specific information to sveltekit event
  libs/sveltekit-adapter-firebase/src/lib/function.ts
Due: prettier --write, eslint

fix: remove dev dependencies from generated production package.json
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

docs: add keywords to npm package
  libs/sveltekit-adapter-firebase/package.json
Due: prettier --write, eslint

fix: delete devDependencies instead of setting them to null
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

chore(sveltekit-adapter-firebase): release version 0.1.0
  libs/sveltekit-adapter-firebase/CHANGELOG.md
  libs/sveltekit-adapter-firebase/package.json
Due: prettier --write, eslint

chore: format CHANGELOG.md
  libs/sveltekit-adapter-firebase/CHANGELOG.md
Due: prettier --write

fix: upgrade firebase-functions package version for production package.json
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
Due: prettier --write, eslint

chore(sveltekit-adapter-firebase): release version 0.1.1
  libs/sveltekit-adapter-firebase/CHANGELOG.md
  libs/sveltekit-adapter-firebase/package.json
Due: prettier --write, eslint

chore: ignore generated CHANGELOG.md files from format check
  .prettierignore
Due: none

ci: use version postTargets for publishing
  .github/workflows/main.yml
  libs/sveltekit-adapter-firebase/project.json
Due: prettier --write, eslint

chore: fix main.yml formatting
  .github/workflows/main.yml
Due: prettier --write

chore: fix project name
  libs/sveltekit-adapter-firebase/project.json
Due: prettier --write, eslint

chore: fix formatting
  libs/sveltekit-adapter-firebase/project.json
Due: prettier --write, eslint

chore: set npm token env
  .github/workflows/main.yml
Due: prettier --write

ci: fix env name
  .github/workflows/main.yml
Due: prettier --write

chore(sveltekit-adapter-firebase): release version 0.1.2
  libs/sveltekit-adapter-firebase/CHANGELOG.md
  libs/sveltekit-adapter-firebase/package.json
Due: prettier --write, eslint

fix: options not set correctly
  libs/sveltekit-adapter-firebase/src/lib/adapter.ts
  libs/sveltekit-adapter-firebase/src/lib/function.ts
Due: prettier --write, eslint

ci: fix dependencies
  package-lock.json
  package.json
Due: prettier --write, eslint

ci: fix coverage reports
  .github/workflows/main.yml
  apps/test-app/project.json
  libs/.gitkeep
  libs/sveltekit-adapter-firebase/vitest.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint

chore: fix formatting
  libs/sveltekit-adapter-firebase/vitest.config.ts
Due: prettier --write, eslint

ci: fix flow
  .github/workflows/main.yml
Due: prettier --write

chore: fix build
  libs/sveltekit-adapter-firebase/project.json
Due: prettier --write, eslint

test: fix tests
  apps/test-app/playwright.config.ts
  apps/test-app/svelte.config.js
  apps/test-app/tests/form.test.ts
  libs/sveltekit-adapter-firebase/project.json
  libs/sveltekit-adapter-firebase/tsconfig.lib.json
Due: prettier --write, eslint

chore: fix formatting
  apps/test-app/svelte.config.js
  libs/sveltekit-adapter-firebase/tsconfig.lib.json
Due: prettier --write, eslint

chore: fix nx project dep structure
  apps/test-app/project.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json,yml}
  eslint: any of: *.{js,jsx,ts,tsx,json}
